<!DOCTYPE html>
<html lang="fr" ng-app="testApp">
  <head>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/voiture.json"></script>
    <script src="assets/js/script.js"></script>
    <meta charset="utf-8">
    <title>Exercice 1</title>
  </head>
  <body ng-controller="cars">
  <p ng-show="paragraphe">Purzpurzpurzpurzpr</p>
  <button type="button" ng-click="paragraphe=true"name="button">Afficher</button>
  <button type="button" ng-click="paragraphe=false" name="button">Masquer</button>
  </body>
</html>
